@media (max-width: 740px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }

}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }
    .navbar:not(.top-nav-collapse) {
        background: #929FBA !important;
    }
}

.j-img-fluid{
    width: 150px;height: 50px
}
.head-text{
    width: 70px;height: 50px;display: inherit!important;
    position: absolute!important;
    top: 70%;
    left: 48%;
}
.head-link{
    margin: auto;text-align: center;
}
.head-img-bg{
    background-image: url('../../assets/img/93.jpg'); background-repeat: no-repeat; background-size: cover;
}
.j-relative{
    position: relative
}
.j-col-card{
    background-image: url('../../assets/img/bg-full.png');
    height: 100%;
    padding-bottom: 10px;
}
.j-col-card-event{
    background-image: url('../../assets/img/bg-full.png');
    height: 100%;
}
.j-display{
    position: absolute;
    top: 82%;
    right: 5px;
}
.j-btn-black{
    border: 2px solid black !important;
    background-color: transparent!important;
    color: black!important;
}
.j-arr-right{
    top: 31%;
    right: -12px;
    position: absolute;
    z-index: 999;
    color: white;
}
.j-arr-left{
    top: 31%;
    left: -12px;
    position: absolute;
    z-index: 999;
    color: white;
}

.j-video-content{
    padding-left: 0px!important;
}
.j-video-body{
    padding-left: 0px!important;height: 100%
}
.j-video{
    width: 100%;height: 100%
}
.j-video-content-right{
    padding-left: 0px!important;padding-right: 0px
}
.j-video-body-right{
    height: 100%;
    padding-right: 0px
}
.j-text-content{
    padding-left: 0px;padding-right: 30px;
}
.j-text-content-left{
    padding-right: 0px;
}
@media screen and (max-width: 770px){
    .j-video{
        padding-left: 15px!important;
    }
    .j-text-content{
        padding-left: 15px;padding-right: 15px;
    }
    .j-text-content-left{
        padding-right: 15px;
    }
    .j-video-body{
        padding-right: 0px!important;
    }
    .j-video-body-right{
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .j-video-content-right{
        padding-left: 0px!important;padding-right: 15px
    }
    .j-arr-left{
        display: none;
    }
    .j-arr-right{
        display: none;
    }
    /*.j-video-body-right{*/
        /*height: 100%;*/
        /*!*padding-right: 15px*!*/
    /*}*/
    /*.j-video-content{*/
        /*padding-left: 15px!important;*/
    /*}*/
    /*.j-video-body{*/
        /*!*padding-left: 15px!important;height: 100%*!*/
    /*}*/
}