*{
    font-family: "Open Sans";
}
.view, body, html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer {
    background-color: #1C2331
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: transparent;
    }
    .teste-row{
        margin-left: 0px!important;
    }
}

.img-post {
    position: absolute;
    top: 10px;
    text-align: center;
    margin: auto;
    display: block;
    width: 150px;
    color: white;
    font-weight: bold;
}
.teste-row{
    margin-left: 5%;
}
.navbar-nav > li {
    float: left;
    position: relative;
}
.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    border-bottom: 5px solid black;
    background: transparent;
    font-weight: bold;
    color: black;
    content: " ";
    left: 0;
    right: 0;
}